.board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.board__canvas {
  padding: 2rem;
  background-color: black;
  border-radius: 2rem;
}

button {
  border: none;
}

.board__btn {
  display: flex;
  border-radius: 0.5rem;
  width: 4rem;
  height: 2rem;
  margin: 1rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.board__btn:hover {
  cursor: pointer;
}

.board__btn:active {
  transform: scale(0.95);
}
