.canvas__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;

    .canvas__togglePannel {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent;
        cursor: pointer;

        &:hover {
            color: rgba(255, 255, 255, .8);
        }

        &--play,
        &--pause {
            position: absolute;
        }

        canvas {
            background-color: black;
            padding: 10px;
        }
    }
}